.ballItem {
  border: 1px solid green;
  position: relative;
  height: 50px;
}

.ballItem:not(:last-child) {
  margin-bottom: 10px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.ball:hover {
  cursor: pointer;
}

.animation.green {
  animation-name: greenAnimation;
}

@keyframes greenAnimation {
  0% {
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.71, 0.13);
    left: 0px;
  }

  20% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.96, 0.64);
  }

  40% {
    animation-timing-function: cubic-bezier(0.31, 0.27, 0.71, 0.13);
  }

  60% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.3, 0.75);
  }

  80% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  100% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.07, 0.42);
    left: 1148px;
  }
}

.animation.yellow {
  animation-name: yellowAnimation;
}

@keyframes yellowAnimation {
  0% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.38, 0.51);
    left: 0px;
  }

  20% {
    animation-timing-function: cubic-bezier(0.31, 0.27, 0.71, 0.13);
  }

  40% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  60% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.96, 0.64);
  }

  80% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  100% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.07, 0.42);
    left: 1148px;
  }
}

.animation.red {
  animation-name: redAnimation;
}

@keyframes redAnimation {
  0% {
    animation-timing-function: cubic-bezier(0.31, 0.27, 0.71, 0.13);
    left: 0px;
  }

  20% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  40% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.38, 0.51);
  }

  60% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  80% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.96, 0.64);
  }

  100% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.3, 0.75);
    left: 1148px;
  }
}

.animation.blue {
  animation-name: blueAnimation;
}

@keyframes blueAnimation {
  0% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
    left: 0px;
  }

  20% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.96, 0.64);
  }

  40% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  60% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.96, 0.64);
  }

  80% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.5, 0.15);
  }

  100% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.3, 0.75);
    left: 1148px;
  }
}

.animation.pink {
  animation-name: pinkAnimation;
}

@keyframes pinkAnimation {
  0% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.38, 0.51);
    left: 0px;
  }

  20% {
    animation-timing-function: cubic-bezier(0.25, 0.03, 0.06, 0.91);
  }

  40% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.07, 0.42);
  }

  60% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.5, 0.15);
  }

  80% {
    animation-timing-function: cubic-bezier(0.53, 0.92, 0.2, 0.84);
  }

  100% {
    animation-timing-function: cubic-bezier(0.59, 0.31, 0.3, 0.75);
    left: 1148px;
  }
}
